html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fdfdfd;
  color: #1e1e1e;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.02);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

